<!DOCTYPE html>
<html>
    <head>
        <title>Uniqey</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/assets/loginScripts.js"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    </head>
    <body>
        <div class="bannerContainer">
            <div class="bannerTitle">Dropbox Unique ID Generator</div>
            <div class="bannerImage"><img src="/assets/Resources/dropbox.png"></div>
        </div>
        <div class="loginContainer">
            <p>Welcome to Uniqey, please login into your dropbox account</p><br>
            <form id="loginForm">
                <input type="text" name="email" placeholder="Enter email..." id="loginEmail" required/>
                <input type="text" name="accountIdentifier" placeholder="Enter an account identifier..." id="loginName" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
